$background-primary-color: #B2B2A8;
$background-secondary-color: #3F3B37;
$card-1-color: #98968f;
$card-2-color: #DB4C44;
$card-3-color: #E7A92D;
$card-4-color: #3E3C36;

$primary-font-color: #3F3B37;
$secondary-font-color: #FBF0DF;





.body {
    background-color: $background-primary-color;
    width: 100%;
    height: 1000px;
}

// HOME HEADER
.header-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  
    .title-home-nav {
      font-size: 10vw; 
      color: $primary-font-color;
      font-family: 'Times New Roman', Times, serif; 
      width: 90%;
  
      .space-between {
        margin-left: 20vw; 
      }
    }
  
    .divider {
      margin-top: -5vh; 
      width: 90%;
      border: 1px solid $primary-font-color;
    }
  }

  .subtitle-home-nav {
    display: flex;                
    justify-content: space-around; 
    align-items: center;           
    flex-wrap: wrap;              
    width: 100%;                   
    padding: 10px;                
    text-align: center; 
    font-family: sans-serif;  
    color: $primary-font-color;
    font-weight: bold;      
  
    Text {
      font-size: 1.5vw;            
      margin: 5px 10px;           
    }
  }
  
  //LANDING
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  // padding: 20px;
}

// Contenedor interno en fila (flex row) centrado
.landing-box1 {
  margin-top: 15vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center; 
  align-items: center;      
  width: 100%;
  max-width: 1300px;
  gap: 20px;  
  flex-wrap: wrap; 
  text-align: center;
  color: $primary-font-color;
  
  .divider {
    margin-top: -5vh; 
    width: 100%;
    border: 1px solid $primary-font-color;
  }
}

.card-about, .projects-card {
  color: black;
  padding: 40px;
  font-size: 18px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  font-weight: bold;
  min-width: 200px; 
  flex: 1; 
  position: relative;
  text-align: center;
  margin-bottom: 1vw;
}

.projects-card {
  background-color: $card-2-color;
  border-radius: 0 0 50px 0;
}

.card-about {
  background-color: $card-1-color;
  border-radius: 0 0 50px 0;
}

.logo {
  font-size: 90px;
  font-weight: bold;
  font-family: sans-serif;
  gap: 20px;
  line-height: 1;
  flex: 1;
  min-width: 200px;
}

  
  //MEDIA 
  @media (max-width: 768px) { 
    .header-home {
      .title-home-nav {
        font-size: 12vw; 
      }
      .space-between {
        margin-left: 3vw; 
      }
      .divider {
        margin-top: -2vh;
      }
    }
  }
  
  @media (max-width: 480px) {
    .header-home {
      .title-home-nav {
        font-size: 14vw; 
      }
      .space-between {
        margin-left: 1vw; 
      }
      .divider {
        margin-top: -1vh; 
      }
    }
  }

 //MEDIA LANDING
@media (max-width: 768px) {
  .landing-box1 {
    flex-direction: column;
    justify-content: center;  // Centrado horizontal en pantallas pequeñas 
    align-items: center;      // Centrado vertical 
    
    .divider {
      margin-top: -2vh;
    }
  } 

  .logo {
    font-size: 40px;
  }

  .card-about, .projects-card {
    padding: 20px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 30px;
  }

  .card-about, .projects-card {
    padding: 15px;
    font-size: 14px;
  }
}