$background-primary-color: #B2B2A8;
$background-secondary-color: #3F3B37;
$card-1-color: #98968f;
$card-2-color: #DB4C44;
$card-3-color: #E7A92D;
$card-4-color: #3E3C36;
$card-5-color: #FBF0DF;

$primary-font-color: #3F3B37;
$secondary-font-color: #FBF0DF;





.body {
  background-color: $background-primary-color;
  width: 100vw;
  height: 340vw;
  overflow-x: hidden;
}

// HOME HEADER
.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .title-home-nav {
    font-size: 10vw;
    color: $primary-font-color;
    font-family: sans-serif;
    width: 90%;

    .space-between {
      margin-left: 20vw;
    }
  }

  .divider-header {
    margin-top: -5vh;
    width: 90%;
    border: 1px solid $primary-font-color;
  }
}

.subtitle-home-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  color: $primary-font-color;
  font-weight: bold;

  Text {
    font-size: 1.5vw;
    margin: 5px 10px;
  }
}




//LANDING
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // padding: 20px;
}

.landing-logo {
  display: none;
}

// Contenedor interno en fila (flex row) centrado
.landing-box1,
.landing-box2,
.landing-box3 {
  margin-top: 15vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1300px;
  gap: 2vw;
  flex-wrap: wrap;
  text-align: center;
  color: $primary-font-color;

  .divider-body {
    margin-top: -5vh;
    width: 100vw;
    border: 1px solid $primary-font-color;
  }
}

.landing-box2,
.landing-box3 {
  margin-top: 1vw;
  margin-left: none;
}

.card-about,
.projects-card,
.card-contact {
  color: black;
  padding: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 200px;
  flex: 1;
  position: relative;
  text-align: center;
  margin-bottom: 1vw;

  .space-between {
    margin-left: 20vw;
  }
}

.projects-card {
  background-color: $card-2-color;
  border-radius: 0 0 50px 0;
}

.card-about {
  background-color: $card-1-color;
  border-radius: 0 0 50px 0;
}

.card-contact {
  background-color: $card-3-color;
  border-radius: 0 0 50px 0;
}

.hello {
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  gap: 2vw;
  line-height: 1;
  flex: 1;
  min-width: 200px;
}

.text-fullstack,
.based-text {
  font-family: sans-serif;
  font-size: 90px;
  margin-top: 0vw;
  font-weight: bold;

  .space-between {
    margin-left: 15vw;
  }
}





//ABOUT ME
.aboutme-container {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .title-about-nav {
    font-size: 10vw;
    color: $primary-font-color;
    font-family: sans-serif;
    width: 90%;

    .space-between {
      margin-left: 20vw;
    }
  }

  .divider {
    margin-top: -5vh;
    width: 97%;
    border: 1px solid $primary-font-color;
  }
}






//MEDIA 
@media (max-width: 768px) {

  .header-home,
  .aboutme-container {

    .title-home-nav,
    .title-about-nav {
      font-size: 12vw;
    }

    .space-between {
      margin-left: 3vw;
    }

    .divider, .divider-header {
      margin-top: -2vh;
    }
    .date-display, .time-display {
      display: none;
    }
  }
}

@media (max-width: 480px) {

  .header-home,
  .aboutme-container {

    .title-home-nav,
    .title-about-nav {
      font-size: 12vw;
    }

    .space-between {
      margin-left: 1vw;
    }

    .divider {
      margin-top: -1vh;
    }

  }
}





//MEDIA LANDING
@media (max-width: 768px) {

  .landing-box1,
  .landing-box2,
  .landing-box3 {
    flex-direction: column;
    justify-content: center; // Centrado horizontal en pantallas pequeñas 
    align-items: center; // Centrado vertical
    margin-left: auto;

    .divider-body {
      margin-top: -2vh;
    }
  }

  .hello {
    font-size: 40px;
  }

  .card-about,
  .projects-card,
  .card-contact {
    padding: 20px;
    font-size: 16px;
  }

  .landing-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: auto; 
  }
}

@media (max-width: 480px) {

  // .hello,
  .text-fullstack,
  .based-text,
  .divider-body {
    display: none;

  }

  .card-about,
  .projects-card,
  .card-contact {
    padding: 15px;
    font-size: 14px;
  }
}