.contact-container {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .title-contact-nav {
        font-size: 10vw;
        color: #3F3B37;
        font-family: sans-serif;
        width: 90%;
        margin-left: 45px;
    }

    .divider {
        margin-top: -5vh;
        width: 97%;
        border: 1px solid #3F3B37;
    }
}


.carousel-container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.email-carousel,
.git-carousel, .linkedin-carousel {
    display: inline-block;
    transform: translateX(110%);
    transition: transform 0.5s ease;
}

.email-card:hover .email-carousel,
.git-card:hover .git-carousel, .linkedin-card:hover .linkedin-carousel  {
    animation: slide-left 5s linear infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(105%);
    }

    50% {
        transform: translateX(-110%);
    }

    100% {
        transform: translateX(-110%);
    }

    0% {
        transform: translateX(105%);
    }

}

.btn-top {
    color: #FBF0DF;
    border: 1px solid #FBF0DF;
    background: transparent;
  
    &:hover {
      background-color: #3F3B37;
      color: #3F3B37;
      border-color: #3F3B37;
    }
  }
