$background-primary-color: #B2B2A8;
$background-secondary-color: #3F3B37;
$card-1-color: #FBF0DF;
$card-2-color: #DB4C44;
$card-3-color: #E7A92D;
$card-4-color: #3E3C36;

$primary-font-color: #3F3B37;
$secondary-font-color: #FBF0DF;

